<html>
    <%- include('./partials/head.ejs') %>
    <body>

        <div class="contentView">

            <%- include('./partials/nav.ejs') %>

            <div class="mainWindow">
                <div class="contentWindow">
                    <h2 class="centerText">Create Character</h2>

                    <form id="createCharacterForm" autocomplete="off">
                        <input type="text" placeholder="name" class="fullWidth"></input>

                        <div class="fullWidthBox">
                            <select name="race" id="raceMenu"  class="fullWidth">
                                <option value="" selected disabled>Select Race</option>
                                <% if (data.races.length > 0) { %>
                                    <% data.races.forEach(race => { %>
                                        <option value="<%= race.name %>"><%= race.name %></option>
                                    <% }); %>
                                <% }; %>
                            </select>

                            <p id="raceTraitsP" class ="fullWidth" hidden></p>


                            <select name="subrace" id="subraceMenu" class="fullWidth" hidden>
                                <option value="" selected disabled>Select Subrace</option>
                                <% if (data.races.length > 0) { %>
                                    <% data.races.forEach(race => { %>
                                        <option value="<%= race.name %>"><%= race.name %></option>
                                    <% }); %>
                                <% }; %>
                            </select>

                            <p id="subraceTraitsP" class ="fullWidth" hidden></p>
                        </div>

                        <script>
                            var data = <%- JSON.stringify(data) %>;

                            // function to find index
                            function finderBoy(array, attr, value) {
                                for (var i = 0; i < array.length; i += 1) {
                                    if (array[i][attr] === value) {
                                        return i;
                                    }
                                }
                                return -1;
                            }

                            var raceMenu = document.getElementById("raceMenu");
                            var subraceMenu = document.getElementById("subraceMenu");
                            var raceTraitsP = document.getElementById("raceTraitsP");
                            var subraceTraitsP = document.getElementById("subraceTraitsP");

                            subraceMenu.addEventListener("change", function() {
                                var i = finderBoy(data.races, 'name', raceMenu.value);
                                var x = finderBoy(data.races[i].subraces, 'name', subraceMenu.value);

                                if (data.races[i].subraces[x].traits) {
                                    subraceTraitsP.removeAttribute("hidden");
                                    data.races[i].subraces[x].traits.forEach(trait => {
                                        var newP = document.createElement('p');
                                        newP.innerHTML = '<span class="traitName">' + trait.name + '.</span><span class="traitDescription"> ' + trait.description + '</span>';
                                        subraceTraitsP.append(newP);
                                    });
                                }
                            });

                            raceMenu.addEventListener("change", function() {
                                var i = finderBoy(data.races, 'name', raceMenu.value);

                                subraceMenu.selectedIndex = 0;
                                subraceTraitsP.innerHTML = '';
                                subraceTraitsP.setAttribute("hidden", "");
                                raceTraitsP.innerHTML = '';
                                raceTraitsP.setAttribute("hidden", "");

                                if (data.races[i].traits) {
                                    raceTraitsP.removeAttribute("hidden");
                                    data.races[i].traits.forEach(trait => {
                                        var newP = document.createElement('p');
                                        newP.innerHTML = '<span class="traitName">' + trait.name + '.</span><span class="traitDescription"> ' + trait.description + '</span>';
                                        raceTraitsP.append(newP)
                                    });
                                }

                                if (data.races[i].subraces) {
                                    var firstElementChild = subraceMenu.firstElementChild;
                                    subraceMenu.innerHTML = '';
                                    subraceMenu.append(firstElementChild);

                                    data.races[i].subraces.forEach(subrace => {
                                        var option = document.createElement("option");
                                        option.setAttribute("value", subrace.name);
                                        option.innerHTML = subrace.name;
                                        subraceMenu.append(option);
                                    });

                                    subraceMenu.removeAttribute("hidden");
                                }
                                else {
                                    subraceMenu.setAttribute("hidden", "");
                                    var firstElementChild = subraceMenu.firstElementChild;
                                    subraceMenu.innerHTML = '';
                                    subraceMenu.append(firstElementChild);
                                }
                            });
                        </script>

                        <div class="fullWidthBox">
                            <select name="class" class="fullWidth">
                                <option value="" selected disabled>Select Class</option>
                                <% if (data.classes.length > 0) { %>
                                    <% data.classes.forEach(class_ => { %>
                                        <option value="<%= class_.name %>"><%= class_.name %></option>
                                    <% }); %>
                                <% }; %>
                            </select>
                        </div>

                        <input type="text" placeholder="age"></input>
                        <input type="text" placeholder="height"></input>
                        <input type="text" placeholder="weight"></input>
                        <input type="text" placeholder="eyes"></input>
                        <input type="text" placeholder="skin"></input>
                        <input type="text" placeholder="hair"></input>
                        <textarea rows="8" placeholder="appearance"></textarea>
                        <textarea rows="8" placeholder="backstory"></textarea>
                        <button class="fullWidth">Create Character</button>
                    </form>



                </div>
            </div>

            <%- include('./partials/footer.ejs') %>
        </div>

    </body>
</html>
