<html>
    <%- include('./partials/head.ejs') %>
    <body>

        <div class="contentView" id="contentView">

            <%- include('./partials/nav.ejs') %>

            <div class="mainWindow">
            <% if (posts.length > 0) { %>
                <% posts.forEach(post => { %>
                    <div class="contentWindow">
                        <h2><%= post.title %></h2>
                            <%- post.body %>
                    </div>
                <% }); %>
            <% } else { %>
                <div class="contentWindow">
                    <h2>No Posts</h2>
                    <p>
                        There are zero posts to display.
                    </p>
                </div>
            <% }; %>
            </div>

            <%- include('./partials/footer.ejs') %>

        </div>

    </body>
</html>
